#kt_table_users_filter input {
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
}

.dt-buttons button {
    margin-right: 5px;
    display: inline-block;
}

#kt_table_users th {
    text-align: center;
    font-weight: bold;
    color: #df6892;
}

.change-my-color {
    fill: #5c4788;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.statistics.link-color {
    color: #042c4e;
}

.statistics.text-color {
    color: #12161a;
}

.statistics.icon-color {
    color: #337ab7;
}

.new_reserve_status {
    margin-right: 25px;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    display: block;
    background-color: white !important;
    border-radius: 50%;
}

.confirm_status {
    margin-right: 25px;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    display: block;
    background-color: orange !important;
    border-radius: 50%;
}

.cancel_status {
    margin-right: 25px;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    display: block;
    background-color: red !important;
    border-radius: 50%;
}

.waiting_status {
    margin-right: 25px;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    display: block;
    background-color: yellow !important;
    border-radius: 50%;
}

.visited_status {
    margin-right: 25px;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    display: block;
    background-color: green !important;
    border-radius: 50%;
}
