@font-face {
    font-family: "ExpoArabic";
    src: url('/fonts/Tajawal-Medium.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "ExpoArabic";
    src: url('/fonts/Tajawal-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Tajawal";
    src: url('/fonts/Tajawal-Bold.ttf');
    font-weight: 900;
}

* {
    margin: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Tajawal", sans-serif;
}

html[dir="ltr"] .form-switch.form-check-solid .form-check-input {
    margin-left: 10px !important;
    margin-right: 0px !important;
}

html[dir="ltr"] .form-control.select-data::after {
    left: unset !important;
    right: 15px !important;
}

html[dir="ltr"] .list-data-contain li::after,
html[dir="ltr"] .bundels .box .content li::after {
    right: unset !important;
    left: 0px !important;
}

html[dir="ltr"] .aside.aside-dark .aside-logo .svg-icon {
    transform: rotate(180deg);
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar {
    width: 1px;
}

.red_error {
    color: #f1416c !important;
    font-weight: bolder !important;
}

.small_notes {
    color: #490e07 !important;
    font-weight: bolder !important;
}

.error-tab {
    border-color: #f1416c !important;
    font-weight: bolder !important;
}

.overflowNone {
    overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 4px;
    border-radius: 4px;
    background-color: #FFD371;
    opacity: .5;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}

.overflowNone {
    overflow: hidden;
}

:root {
    --primary-color: #742c2b !important;
    --secondary-color: #D2CCC0 !important;
    --content-color: #231f20;
}

.page-title-box h4,
.card-title {
    color: var(--primary-color);
    font-weight: 900;
}

.fa.fa-eye,
.fa.fa-credit-card {
    color: var(--primary-color) !important;
    font-size: 18px !important;
}

.cu th {
    background-color: #f7f7f7 !important;
    font-weight: 700 !important;
    min-width: 90px !important;
    width: 90px !important;
    color: var(--primary-color) !important;
    text-align: center;
    font-size: 15px !important;
    vertical-align: top !important;
    padding: 15px 0px 15px !important;
}

.head-table th {
    width: 80px !important;
    min-width: 80px !important;
}

td {
    text-align: center;
    vertical-align: middle;
    color: var(--content-color) !important;
}

td span {
    margin: auto !important;
}

#sidebar-menu,
.aside-menu {
    background-color: #1d2327
}

.aside.aside-dark .aside-logo {
    background-color: var(--primary-color);
}

.aside.aside-dark .aside-logo .svg-icon {
    color: #001D6E;
}

.header .badge {
    background-color: var(--primary-color) !important;
}

.aside.aside-dark .aside-logo .svg-icon {
    color: var(--secondary-color);
}

.aside.aside-dark .aside-logo .svg-icon:hover {
    color: var(--secondary-color);
}
#kt_aside_toggle.btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon{
    color: var(--secondary-color);

}

.badge-light-success {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.image-input.image-input-outline .image-input-wrapper,
.image-input.image-input-outline,
.image-input .image-input-wrapper {
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px rgba(127, 181, 255, .1);
    position: relative;
    z-index: 3;
}

.sheet-contain {
    width: 100%;
    padding: 15px 10px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(127, 181, 255, .2);
}

.sheet-contain h4 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.sheet-contain .sheet-list li {
    margin-bottom: 10px;
}

.sheet-contain .sheet-list li:last-child {
    margin-bottom: 0px !important;
}

.sheet-contain .sheet-list li a {
    width: 100%;
    display: block;
    padding-inline-start: 20px;
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 500;
    z-index: 9;
    position: relative;
}

.sheet-contain .sheet-list li a::after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    right: 0px;
    width: 10px !important;
    transition: all .3s linear;
    height: 10px !important;
    background-color: var(--secondary-color) !important;
    border-radius: 3px !important;
    transform: rotate(45deg);
    z-index: -1;
}

.sheet-contain .sheet-list li a:hover::after {
    transform: rotate(0deg);
}

.sheet-contain .sheet-list li a:hover {
    color: #231f20;
}

html[dir="ltr"] .sheet-contain .sheet-list li a::after {
    right: unset !important;
    left: 0px;
}

.btn.btn-icon.btn-circle {
    display: flex !important;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 9;
}


/* .aside.aside-dark .aside-logo,
.header-fixed .header {
background-color: #f7f7f7;
} */


/* .svg-icon {
color: #fff !important;
}

.header h1,
.header .breadcrumb-item span,
.header .breadcrumb-item {
color: #fff !important;
}

.header .menu-content a {
col  or: #fff !important;
} */

#sidebar-menu li,
#sidebar-menu a,
#sidebar-menu i,
.aside-menu span,
.aside-menu span i,
.aside-menu .menu-section,
.aside-dark .menu .menu-item .menu-section {
    color: #a7aaad !important;
}

#sidebar-menu .mm-active>a,
.aside-dark .menu .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here),
.aside-dark .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here),
.aside-dark .menu .menu-item .menu-link.active {
    background-color: #f7f7f7 !important;
    color: #1d2327 !important;
}

.aside-dark .menu .menu-item .menu-link.active span,
.aside-dark .menu .menu-item .menu-link:hover span,
.aside-dark .menu .menu-item.menu-accordion.show .active-link-shape .menu-arrow,
.aside-dark .menu .menu-item.menu-accordion.show .active-link-shape .menu-title,
.aside-dark .menu .menu-item.menu-accordion.show .active-link-shape .menu-icon i {
    color: #1d2327 !important;
}

.aside-dark .menu .menu-item.hover:not(.here)>.menu-link:not(.disabled):not(.active):not(.here) .menu-arrow:after,
.aside-dark .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-arrow:after {
    filter: invert(10%) sepia(7%) saturate(1396%) hue-rotate(85deg) brightness(13%) contrast(92%);
}

#sidebar-menu .sub-menu,
.menu-sub {
    margin-bottom: 10px !important;
}

.aside-dark .menu .menu-item .menu-section {
    color: #fff !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}

.button-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

td .button-contain a {
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
}

td .button-contain a:last-child {
    -webkit-margin-end: 0px !important;
    margin-inline-end: 0px !important;
}

.table-action-icon {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
}

.custom-btn,
.btn.btn-primary {
    width: 150px;
    height: 40px;
    background: transparent !important;
    border: 1px solid transparent !important;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff !important;
    overflow: hidden;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    z-index: 1;
}

.custom-btn.small-btn {
    height: 40px !important;
}

.custom-btn i,
.btn.btn-primary i {
    color: #fff;
    margin-inline-end: 10px !important;
    font-size: 15px;
}

.custom-btn:hover i {
    color: var(--primary-color) !important;
}

.custom-btn:hover {
    color: var(--primary-color) !important;
}

.custom-btn.active {
    background-color: var(--primary-color) !important;
}

.custom-btn.active span {
    color: rgb(255, 255, 255) !important;
}

.btn.btn-primary::after,
.btn.btn-primary::before,
.custom-btn::after,
.custom-btn::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--primary-color);
    top: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    z-index: -1;
}

.custom-btn::after,
.btn.btn-primary::after {
    left: 0;
}

.custom-btn::before,
.btn.btn-primary::before {
    right: 0px;
}

.custom-btn img {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
    -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(340deg) brightness(105%) contrast(101%);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(340deg) brightness(105%) contrast(101%);
}

.custom-btn span {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
}

.btn-primary:hover,
.btn-check:active+.btn.btn-primary,
.btn-check:checked+.btn.btn-primary,
.btn.btn-primary.active,
.btn.btn-primary.show,
.btn.btn-primary:active:not(.btn-active),
.btn.btn-primary:focus:not(.btn-active),
.btn.btn-primary:hover:not(.btn-active),
.show>.btn.btn-primary {
    background-color: #fff !important;
    background: #fff !important;
}

.custom-btn:hover,
.btn.btn-primary:hover {
    border-color: var(--primary-color) !important;
    background: transparent !important;
    background-color: transparent !important;
}

.btn.btn-primary:hover i,
.btn.btn-primary:hover:not(.btn-active) i {
    color: #001D6E !important;
}

.custom-btn:hover::after,
.custom-btn:hover::before,
.btn.btn-primary:hover::after,
.btn.btn-primary:hover::before {
    width: 0px;
}

.btn.btn-primary:hover span,
.custom-btn:hover span {
    color: var(--primary-color);
}

.custom-btn:hover img {
    -webkit-filter: invert(12%) sepia(32%) saturate(6484%) hue-rotate(218deg) brightness(88%) contrast(112%);
    filter: invert(12%) sepia(32%) saturate(6484%) hue-rotate(218deg) brightness(88%) contrast(112%);
}

.custom-btn.border-btn {
    border: 1px solid var(--primary-color) !important;
    background-color: transparent !important;
}

.custom-btn.full-width {
    width: 100% !important;
}

.custom-btn.border-btn span {
    color: var(--primary-color);
}

.custom-btn.border-btn::after,
.custom-btn.border-btn::before {
    width: 0%;
}

.custom-btn.border-btn:hover {
    border-color: transparent !important;
    color: #fff !important;
}

.custom-btn.border-btn:hover span {
    color: #fff !important;
}

.custom-btn.border-btn:hover::after,
.custom-btn.border-btn:hover::before {
    width: 55%;
}

.custom-btn.large-btn {
    width: 200px;
}

label,
.form-contain .form-group label,
.form-contain .form-group label.form-label {
    display: block !important;
    margin-bottom: 2px !important;
    color: rgba(0, 0, 0, 1) !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}

.form-contain .form-group label span {
    display: block !important;
    color: rgba(0, 0, 0, 1) !important;
    font-size: 13px !important;
    font-weight: 500 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color) !important;
}

h4,
.modal-title {
    font-size: 20px !important;
    font-weight: 900 !important;
    margin-bottom: 15px !important;
}

thead {
    background-color: #F7F7F7 !important;
}

.form-control.select-data,
.form-select.form-select-sm {
    position: relative;
    z-index: 9;
    appearance: none;
}

.form-control.select-data::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: url('../images/select_arrow_down.png') center / contain no-repeat !important;
    top: calc(50% - 7.5px);
    left: 15px;
    z-index: -1;
}

.form-contain .form-group .form-control {
    color: #000000 !important;
    width: 100% !important;
    height: 40px;
    font-size: 15px;
    font-weight: 500 !important;
    border-radius: 5px !important;
    border: 1px solid rgba(0, 29, 110, 0.4) !important;
}

.text-area-shape {
    color: #000000 !important;
    width: 100% !important;
    font-size: 15px;
    padding: 10px !important;
    font-weight: 500 !important;
    border-radius: 5px !important;
    border: 1px solid rgba(0, 29, 110, 0.4) !important;
}

.text-area-shape:focus,
.text-area-shape :active {
    outline: none !important;
}

.form-control,
.form-select.form-select-sm {
    color: #000000 !important;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgba(0, 29, 110, 0.4) !important;
}

.form-control {
    height: 40px !important;
}

.form-select.form-select-sm {
    min-height: 40px;
}

.form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.form-control::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.form-control::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.form-contain .form-group .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.form-contain .form-group .form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.form-contain .form-group .form-control::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.form-contain .form-group .form-control::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.form-control:focus,
.form-control:hover {
    border-color: rgba(0, 29, 110, 0.7);
}

.form-contain .form-group .form-control:hover,
.form-contain .form-group .form-control:focus {
    border-color: rgba(0, 29, 110, 0.7);
}

.form-contain .form-group .form-control.textarea {
    height: 120px !important;
}

.select2-search__field {
    height: unset !important;
}

.border-shape {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.card-body.card-btn-shape {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}

.form-check-label {
    color: #231f20 !important;
    font-size: 15px !important;
    opacity: 1 !important;
}

.form-check {
    display: flex !important;
    align-content: center;
    align-items: center;
}

.form-check.form-check-solid .form-check-input {
    border: 1px solid #001D6E !important;
}

.form-check-input:checked {
    background-color: #001D6E !important;
    /* opacity: 1 !important; */
}

.filter {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter li {
    margin-inline-end: 10px !important;
}

.filter .item-shape {
    margin-bottom: 10px !important;
}

.filter li a {
    width: 150px;
    height: 30px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 99;
    font-weight: 500;
    font-size: 12px;
}

#clientLink {
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 10px;
}

#clientLink img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-inline-end: 10px;
}

#clientLink a {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 500;
}

.filter li a::after,
.filter li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--primary-color);
    top: 0;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    z-index: -1;
}

.filter li a::after {
    left: 0;
}

.filter li a::before {
    right: 0px;
}

.filter li a:hover,
.filter li a.active {
    border-color: transparent;
    color: #fff;
}

.filter li a:hover::after,
.filter li a:hover::before,
.filter li a.active::after,
.filter li a.active::before {
    width: 50%;
}

.breadcrumb {
    background: transparent !important;
}

.breadcrumb a {
    color: #000000 !important;
    font-weight: 500 !important;
}

.breadcrumb span {
    color: var(--primary-color) !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    opacity: 1 !important;
}

.modal-body {
    width: 100%;
}

.modal-body .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
}

.modal-body .content img {
    width: 70px;
    height: 70px;
    -o-object-fit: contain;
    object-fit: contain;
}

.modal-body .content h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px;
}

.modal-body .content .button-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal-body .content .button-contain .button-data {
    width: 140px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #EC3737;
    border-radius: 30px;
}

.modal-body .content .button-contain .button-data.red-bk {
    background-color: #EC3737;
    color: #fff;
}

.modal-body .content .button-contain .button-data.red-bk:hover {
    background-color: #fff;
    color: #EC3737;
}

.modal-body .content .button-contain .button-data.red-border {
    -webkit-margin-start: 15px;
    margin-inline-start: 15px;
    color: #EC3737;
}

.modal-body .content .button-contain .button-data.red-border:hover {
    background-color: #EC3737;
    color: #fff;
}

.title-contain {
    font-size: 25px;
    font-weight: 900;
    color: var(--primary-color);
    margin-bottom: 0px !important;
}

.data-list {
    width: 100%;
    padding: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-content: flex-start;
}

.data-list li {
    padding: 0px 10px;
    -webkit-border-start: 1px solid rgba(0, 0, 0, 0.3);
    border-inline-start: 1px solid rgba(0, 0, 0, 0.3);
}

.data-list li:first-child {
    -webkit-padding-start: 0px !important;
    padding-inline-start: 0px !important;
    -webkit-border-end: 0px;
    border-inline-start: 0px;
}

.data-list li:last-child {
    -webkit-padding-end: 0px !important;
    padding-inline-end: 0px !important;
}

.data-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.data-list li a img {
    width: 20px;
    height: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-margin-end: 10px;
    margin-inline-end: 10px;
}

.data-list li a i {
    font-size: 20px;
    color: #001D6E;
    margin-inline-end: 10px;
}

.data-list li a span {
    color: #000000;
    font-size: 13px;
    font-weight: 500;
}

.data-list li a:hover img {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}

.data-list li a:hover span {
    color: var(--secondary-color);
}

.clients-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    flex-wrap: wrap !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-content: flex-end;
    padding: 13px 0px;
}

.clients-button .btn-shape {
    width: 127px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid var(--secondary-color);
    font-size: 12px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--primary-color) !important;
    border-radius: 5px;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
}

.clients-button .custom-btn.large-btn {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid var(--secondary-color);
    font-size: 12px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--primary-color) !important;
    border-radius: 5px;
    -webkit-margin-end: 5px;
    margin-inline-end: 5px;
}



.clients-button .btn-shape img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-inline-end: 10px;
    filter: invert(13%) sepia(27%) saturate(6402%) hue-rotate(215deg) brightness(91%) contrast(115%);
}

.clients-button .btn-shape:hover img {
    filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(346deg) brightness(132%) contrast(94%);
    animation: scaling .4s linear;
}

@keyframes scaling {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(.7);
    }
}

.clients-button .btn-shape:last-child {
    -webkit-margin-end: 0px !important;
    margin-inline-end: 0px !important;
}

.clients-button .btn-shape:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff !important;
}

.clients-button .btn-shape:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.clients-button .custom-btn.large-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff !important;
}

.form-control.small-text {
    font-size: 12px !important;
    font-weight: 500 !important;
}

.toolbar {
    display: none !important;
}

.header-fixed.toolbar-fixed .wrapper {
    padding-top: calc(0px + var(--kt-toolbar-height)) !important;
}

.form-switch .form-check-input {
    width: 70px !important;
}

.dataTables_length {
    margin-inline-start: 20px !important;
}

.client-box {
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 29, 110, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all .3s linear;
}


/* .client-box .client-icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    z-index: 4;
}

.client-box .client-icon::after,
.client-box .client-icon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.client-box .client-icon::after {
    background-color: #fff;
    z-index: -1;
}

.client-box .client-icon::before {
    background-color: var(--secondary-color);
    opacity: 1;
    animation: plus 3s linear infinite;
    z-index: -2;
} */

.client-box .content {
    width: 100%;
    padding: 0px !important;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center !important;
    text-align: center;
    margin-bottom: 10px;
}

.client-box .content h2 {
    font-size: 20px;
    font-weight: 900;
    color: #231f20;
    margin: 0px !important;
}

.client-box .content h3 {
    font-size: 16px;
    font-weight: 900;
    color: #231f20;
    margin: 0px !important;
}

.client-box .content h2.number-client {
    font-size: 40px !important;
}

.client-box p {
    font-size: 13px;
    font-weight: 500;
    color: var(--primary-color);
    margin: 0px;
    text-align: center;
}

@keyframes plus {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: .5;
    }
}

.client-box .client-icon i {
    font-size: 15px;
    color: var(--primary-color);
    position: relative;
    margin-inline-start: 20px;
    z-index: 9;
}

.client-box:hover {
    transform: translateY(-10px);
}

.client-box .content.block-data {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.client-box .content.block-data .flex-data {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: column !important;
    width: 100%;
}

.client-box .content.block-data h4 {
    font-size: 15px !important;
    font-weight: 500 !important;
    margin-bottom: 5px !important;
}

.card-nav {
    width: fit-content;
    margin: auto;
    display: flex;
    align-content: center;
    align-content: center;
    padding: 10px 30px 0px 0px !important;
    justify-content: center;
    border-bottom: 1px solid #ddd !important;
}

.nav-item{
    text-align: center;
}

.card-nav li {
    margin: 0px !important;
    margin-inline-end: 14px !important;
}

.card-nav li a {
    padding-bottom: 10px !important;
    position: relative;
    z-index: 2;
    display: block;
}

.card-nav li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    z-index: -1;
    transition: all .3s linear;
}

.card-nav li a.active,
.card-nav li a:hover {
    border-color: transparent !important;
    color: var(--primary-color) !important;
}

.card-nav li a.active::after,
.card-nav li a:hover::after {
    transform: scaleX(1);
}

.daterangepicker {
    overflow: hidden !important;
}

.daterangepicker .drp-calendar th {
    min-width: 33px !important;
    width: 33px !important;
}

tr {
    border-color: #ddd !important;
}

td {
    font-weight: 500 !important;
    font-size: 15px !important;
    color: var(--content-color);
}

.content.d-flex.flex-column.flex-column-fluid {
    width: 100% !important;
    overflow: hidden !important;
}

#popupitemtest .reservation-popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#popupitemtest .reservation-popup .popup-content {
    min-width: 320px;
    background-color: #f7f7f7 !important;
    padding: 40px 15px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

#popupitemtest .reservation-popup .close-popup-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #EC3737;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 10px;
    color: #fff;
}

#popupitemtest .reservation-popup ul li {
    display: flex;
    align-content: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

#popupitemtest .reservation-popup ul li:last-child {
    margin-bottom: 0px !important;
}

#popupitemtest .reservation-popup ul li span {
    color: #808080;
    font-size: 15px;
    font-weight: 500;
}

#popupitemtest .reservation-popup ul li b {
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);
}

#popupitemtest .reservation-popup ul li.data {
    justify-content: flex-start !important;
}

#popupitemtest .reservation-popup ul li.data img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-inline-end: 10px;
}

#popupitemtest .reservation-popup ul li.data a {
    color: var(--secondary-color);
    font-size: 15px;
    font-weight: 500;
}

.calendar-responsive th {
    background-color: #f7f7f7 !important;
    padding: 0px !important;
}

.fc-scrollgrid-section.fc-scrollgrid-section-header th,
.fc-theme-standard th,
.fc .fc-col-header-cell-cushion {
    padding: 3px 0px !important;
}

.calendar-responsive th a {
    color: #001D6E !important;
    font-weight: 900 !important;
    font-size: 15px !important;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgba(127, 181, 255, 1) !important;
}

.fc .fc-daygrid-day.fc-day-today a,
.fc-daygrid-more-link.fc-more-link {
    color: #000000;
}

.fc-col-header-cell {
    padding: 0px !important;
    border-bottom: 0px !important;
}

.fc-list-event-title,
.fc .fc-daygrid-dot-event .fc-event-title {
    text-align: right !important;
    padding-right: 0px !important;
}

.fc .fc-daygrid-dot-event .fc-event-title {
    text-align: right !important;
}

.aside-menu::-webkit-scrollbar {
    width: 8px;
}

.aside-menu::-webkit-scrollbar-track {
    background-color: #ccc;
}

.aside-menu::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #008BD2, #00466A) !important;
    border-radius: 8px;
}

.aside-menu .menu-sub {
    background-color: #2c3338 !important;
}

.aside-menu::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #00466A, #008BD2) !important;
}

.bundels .box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 139, 210, 0.08);
    box-shadow: 0px 0px 10px rgba(0, 139, 210, 0.08);
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.bundels .box .title {
    width: 100%;
    padding: 25px 10px;
    text-align: center;
    background: #c0c4c7;
    position: relative;
    z-index: 9;
}

.bundels .box .title h4 {
    color: var(--primary-color) !important;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
}

.bundels .box .data {
    width: 100%;
    height: calc(100% - 113px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bundels .box .content {
    padding: 20px 10px;
}

.bundels .box .content li {
    padding-inline-start: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
    z-index: 9;
}

.list-data-contain {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.list-data-contain li {
    padding-inline-start: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
    z-index: 9;
}

.bundels .box.not-hover:hover {
    transform: translate(0px) !important;
}

.heading-style {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.bundels .box .content li.heading {
    width: fit-content;
    margin: 0px auto 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.bundels .box .content li.heading .name {
    font-size: 15px;
    margin-inline-end: 10px;
}

.bundels .box .content li.heading .day {
    font-size: 20px;
    font-weight: 900;
}

.bundels .box .content li.data-contain {
    padding-top: 10.5px;
    padding-bottom: 7px;
}

.bundels .box .content li.data-contain.flex-data-contain {
    padding-top: 17px !important;
    padding-bottom: 18px !important;
}

.list-data-contain li .name,
.bundels .box .content li .name {
    color: #000;
    font-size: 15px;
    font-weight: 700;
    width: 60px;
}

.list-data-contain li .user_name,
.bundels .box .content li .user_name {
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

.bundels .box .content li .time-block {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.bundels .box .content li .time-block input {
    width: calc(100% - 45px) !important;
    background-color: #fff;
}

.bundels .box .content li .clear-remove-date {
    width: 40px;
    height: 40px;
    background-color: #EC3737;
    border: 0px !important;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.bundels .box .content li .day {
    color: #001D6E;
    font-size: 15px;
    font-weight: 500;
}

.flex-content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 0px;
    margin-bottom: 10px !important;
}

.flex-content li {
    margin-inline-end: 15px;
}

.flex-content li .name {
    font-size: 20px;
    font-weight: 700;
    color: #231f20;
    margin-inline-end: 10px;
}

.list-data-contain li .data,
.flex-content li .day {
    font-size: 25px;
    font-weight: 900;
    color: #008BD2;
}

.list-data-contain li .data {
    margin-inline-start: 10px !important;
}

.bundels .box .content li.no-after::after {
    display: none !important;
}

.bundels .box .content li.no-after {
    padding-inline-start: 5px !important;
}

.bundels .box .content li:last-child {
    margin: 0px;
}

.bundels .box .button-contain {
    padding-bottom: 20px;
}

.bundels .box .button-contain .button-shape {
    margin: auto;
}

.bundels .box:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.select2-container--bootstrap5 .select2-selection--multiple.form-select-sm .select2-search.select2-search--inline .select2-search__field {
    margin: 0px !important;
    max-height: 28px !important;
}

.post {
    padding-top: 20px !important;
}

.select2-container--bootstrap5 .select2-dropdown .select2-search .select2-search__field {
    border: 1px solid #e4e6ef !important;
}

#kt_table_users th {
    min-width: 120px !important;
    color: var(--primary-color) !important;
}

.swal2-popup .swal2-checkbox {
    display: none !important;
}


/* .page-item.active:hover:not(.offset) .page-link {
    color: #fff !important;
} */

.page-item.active:hover .page-link {
    color: rgb(6, 6, 6) !important;
}

.login-page {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-page::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f7f7f7 url('/images/pattern-1.jpg') top right / cover no-repeat;
    opacity: .1;
    z-index: -1;
}

.login-page .content {
    width: 100%;
    padding: 25px 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 29, 110, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

html[dir="rtl"] .login-page .content label {
    text-align: right !important;
}

html[dir="ltr"] .login-page .content label {
    text-align: left !important;
}

.login-page .content img {
    width: 120px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.login-page .content h1 {
    font-size: 30px;
    font-weight: 900;
    color: var(--primary-color);
}

.login-page .content p {
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    margin: 10px 0px;
}

.select2-container--bootstrap5 .select2-selection--multiple.form-select-sm .select2-selection__choice .select2-selection__choice__remove {
    height: 0.6rem !important;
    width: 0.6rem !important;
    margin-right: 0.5rem !important;
    left: 3px !important;
    filter: invert(19%) sepia(90%) saturate(6149%) hue-rotate(357deg) brightness(96%) contrast(115%) !important;
    opacity: 1 !important;
}

.modal-data-contain {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.modal-data-contain img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 25px;
}

.modal-data-contain h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 0px;
    color: var(--primary-color);
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100% !important;
    }

}

@media (max-width: 999px) {
    *::-webkit-scrollbar-track {
        background: unset !important;
    }

    *::-webkit-scrollbar {
        width: 3px !important;
        height: 4px !important;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.3) !important;
    }

    .clients-button {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 20px 0px 5px 0px !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .clients-button .btn-shape {
        -webkit-margin-end: 5px !important;
        margin-inline-end: 5px !important;
        margin-bottom: 15px;
    }

    .data-list {
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        border: 0px !important;
    }

    .data-list li {
        margin-bottom: 10px !important;
        border: 0px !important;
    }

    .data-list li:last-child {
        margin-bottom: 0px !important;
    }

    .data-list li:nth-child(2) {
        -webkit-border-start: 0px !important;
        border-inline-start: 0px !important;
    }

    .card .nav {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
        overflow-x: scroll !important;
        overflow-y: hidden !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        padding: 0px 15px !important;
    }

    .card .nav li {
        -webkit-margin-end: 10px !important;
        margin-inline-end: 10px !important;
        margin-bottom: 10px !important;
    }

    .card .nav li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        text-align: center !important;
        padding: 0px 0px 10px 0px !important;
        margin: 0px !important;
    }

    .card .nav li a i {
        -webkit-margin-end: 3px;
        margin-inline-end: 3px;
    }

    .card .nav li a span {
        font-size: 13px !important;
    }

    .breadcrumb {
        display: none !important;
    }

    .card-nav {
        width: 100% !important;
        justify-content: flex-start !important;
    }

    .card-nav li a {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .clients-button .btn-shape {
        width: 122px;
        font-size: 10px !important;
    }

    .bundels.flex-shape {
        width: 100% !important;
        padding: 10px 0px !important;
        display: flex !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        flex-wrap: nowrap !important;
        overflow-x: scroll !important;
        align-content: flex-start !important;
    }

    .bundels.flex-shape .flex-width {
        width: 85% !important;
    }

    .bundles-card {
        width: 100%;
        overflow-x: hidden;
    }

    .list-data-contain {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        align-content: flex-start !important;
    }

    .calendar-responsive {
        width: 100%;
    }

    .button-contain {
        flex-wrap: wrap !important;
    }

    .button-contain .custom-btn,
    .button-contain .btn {
        margin-bottom: 10px;
        width: 100%;
        margin-inline-end: 0px !important;
    }

    .button-contain .btn-primary span {
        font-size: 13px !important;
    }

    .button-contain .btn-primary:last-child {
        margin-bottom: 0px !important;
    }

    .filter {
        margin: 20px 0px;
    }

    .filter .nav-item {
        margin-bottom: 10px !important;
    }

    .flex-data-mobile {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        align-content: flex-start !important;
    }

    .table-responsive th {
        min-width: 130px !important;
        text-align: center;
        vertical-align: top;
    }

    .login-page .content {
        padding: 20px 10px;
    }

    .login-page .content img {
        height: 50px !important;
    }

    .login-page .content h1 {
        font-size: 20px;
    }

    .client-box .content.block-data h4,
    .client-box .content h2,
    .client-box .content h2.number-client {
        font-weight: 500 !important;
        font-size: 15px !important;
    }

    .client-box .client-icon i {
        font-size: 13px !important;
    }

    .client-box {
        padding: 15px 10px !important;
    }

    .heading-style {
        font-size: 20px !important;
    }
}

@media (max-width: 768px) {
    .calendar-responsive {
        width: 700px;
    }

    .mobile-hidden {
        display: none !important;
    }

    .fc .fc-header-toolbar {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media (max-width: 375px) {
    .filter li a {
        width: 123px;
        font-size: 10px !important;
    }

    .bundels .box .content li {
        padding-inline-start: 0;
    }
}

@media (min-width: 375px) {

    .list-data-contain li::after,
    .bundels .box .content li::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: linear-gradient(45deg, #008BD2, #00466A);
        border-radius: 2px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 0px;
        top: calc(50% - 7.5px);
        z-index: -1;
    }
}

.dataset {
    cursor: pointer;
    color: #5e6278;
    font-size: 1.5em;
}

.dataset:hover {
    background-color: #f1faff;
}

.dataset:hover span {
    color: #009ef7;
}

.btn.btn-bg-light {
    background-color: var(--bs-table-bg) !important;
}

a {
    color: #009ef7 !important;
    cursor: pointer;
}

.modal-lg {
    width: 70%;
    margin: auto;
}

.page-item.active .page-link {
    color: #fff !important;
}

.input-group-text {
    height: 40px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: right;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: right;
}

.form-solid {
    background-color: #e9e9e9 !important;
}

.fancybox__slide {
    z-index: 1055;
}

.fancybox__container {
    z-index: 1051;
}

.fancybox__image {
    z-index: 1056;
}

.modal {
    z-index: 1050;
}

.modal-backdrop {
    z-index: 1048;
}

.print-title {
    color: #001D6E;
}

@media (max-width: 767px) {
    .card-nav {
        justify-content: center !important;
    }
}
